Package: [[deb.package.name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: KonduitAI <info@konduit.ai>
Description: Konduit Serving Package
Distribution: development
Depends: curl, git
Recommends: openjdk-8-jdk
