Package: [[konduit-serving-server.deb.package.name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Skymind <help@skymind.ai>
Description: Konduit Serving Package
Distribution: development
Depends: openjdk-8-jdk-headless